<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url "homePage" %}">Mini Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" href="{% url "homePage" %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "contactPage" %}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "aboutPage" %}">Abouts</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "Dashboard" %}">Dasboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "logoutPage" %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "singupPage" %}">Singup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url "loginPage" %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> 